html {
	zoom: 150%;
}

.square {
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);

 	display: flex;
 	justify-content: center;
 	align-items: center;
 	margin: auto;
 	margin-top: -5px;

 	width: 70px;
 	height: 30px;
 	background-color: rgb(180, 99, 231);

 	font-family: 'Noto Sans';
 	font-size: 16px;
 	color: white;
 	text-align: center;
}

h1 {
 	font-family: 'Noto Sans';
 	font-size: 36px;
 	font-weight: bold;
	text-align: center;
}

h2 {
 	font-family: 'Noto Sans';
 	font-size: 18px;
 	font-weight: bold;
 	color: rgb(180, 99, 231);
	text-align: center;
	margin-top: -28px;
	padding-bottom: 28px;
}

p {
	font-family: 'Noto Sans';
	font-size: 22px;
 	font-weight: bold;
  	margin-left: 280px;
}

span {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 14px;
	color: rgb(180, 99, 231);
}

ul {
	font-family: Helvetica;
	font-size: 14px;
	margin-left: 280px;
	margin-top: -16px;
	line-height: 1.5;
}